.variations :global(button.color-swatch) {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    border: 0.25em solid #fff;
    box-shadow: 0 0 0 0.125em #999;
}

.variations :global(button.color-swatch.swatch-unselected) {
    box-shadow: 0 0 0 0.125em #999 !important;
}

.variations :global(button.color-swatch.swatch-selected) {
    box-shadow: 0 0 0 0.125em #222 !important;
}

@media (max-width: 767px) {
    .variations .colorSwatches {
        padding-top: 1em;
    }
}

@media (min-width: 768px) {
    .variations .colorSwatches {
        padding-top: 2em;
    }
}

@media (min-width: 992px) {
    .variations .colorSwatches {
        padding-top: 2em;
    }
}

.variations .dropdowns {
    padding-top: 1em;
}
